<div class="content">

	<div class="inner-content group">
	
		<div class="main group">
		
			<%= form_for(resource, :as => resource_name, :url => password_path(resource_name)) do |f| %>
			  <%= devise_error_messages! %>
			  <p><%= f.label :email %><br />
			  <%= f.text_field :email %></p>
			  <p><%= f.submit "Send me reset password instructions" %></p>
				<br/><br/>
			<% end %>
			<%= render :partial => "devise/shared/links" %>
														
		</div><!-- end .main -->
	
	</div><!-- end. inner-content -->

</div><!-- end .content -->