<div id="main-container">

	<ul id="menu">
		<li><%= link_to 'Home', home_index_path, :class => "current" %></li>
		<li><%= link_to 'Blog', posts_path%></li>
		<li><%= link_to 'install', "#install", :rel => "facebox", :style => "color:blue" %></li>
		<% if user_signed_in? %>
		<li><%= link_to 'New Post', new_post_path %></li>
		<li><%= link_to 'New Category', new_category_path %></li>
		<li><%= link_to "Sign out #{current_user.email}", destroy_user_session_path %>
			<% else %>
			<li><%= link_to "Sign in", new_user_session_path %></li>
			<% end %>
	</ul>

		<h1 id="web-title"><a href="/"><span class="emphasize">ooc</span></a></h1>
		<h2 id="web-subtitle"><%= Slogan.random %></h2>

		<div id="maincol">
			<p>Welcome</p>
		</div>
		
	</div>

	<div id="footer">
		<h2 class="compact">Recent Articles</h2>
		<ul class="compact">
			<% Post.find(:all, :order => 'created_at DESC', :limit => 5).each do |post| %>
			<li><%= link_to post.title, post %> <span class="date"><%= post.created_at.strftime("%m/%d/%Y") %></span></li>
			<% end %>
		</ul>
  </div>

<div style="width:700px" id="install">
	<h2>Install ooc now!</h2>
	<br/>
	curl: <code>bash -c "`curl -L http://ooc.heroku.com/install.sh`"</code>
	<br/><br/>
	wget: <code>bash -c "`wget -O - http://ooc.heroku.com/install.sh`"</code>
</div>