<div id="main-container">

	<ul id="menu">
		<li><%= link_to 'Home', home_index_path, :class => "current" %></li>
		<li><%= link_to 'Blog', posts_path%></li>
		<% if user_signed_in? %>
		<li><%= link_to "Sign out #{current_user.email}", destroy_user_session_path %>
		<% else %>
		<li><%= link_to "Sign in", new_user_session_path %></li>
		<% end %>
	</ul>
	
	<h1 id="web-title"><a href="/"><span class="emphasize">ooc</span> blog</a></h1>
	<h2 id="web-subtitle"><%= Slogan.random %></h2>

	<div id="maincol">

		<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
		  <p><%= f.label :email %><br />
		  <%= f.text_field :email %></p>
			<br />
		  <p><%= f.label :password %><br />
		  <%= f.password_field :password %></p>
			<br />
		  <% if devise_mapping.rememberable? -%>
		    <p><%= f.check_box :remember_me %> <%= f.label :remember_me %></p>
		  <% end -%>
			<br />
		  <p><%= f.submit "Sign in" %></p>
		<% end %>
		<br />
		<%= render :partial => "devise/shared/links" %>
	</div>

</div>

<div id="footer">
	<div>
	<h2 class="compact">Recent Articles</h2>
	<ul class="compact">
		<% Post.find(:all, :order => 'created_at DESC', :limit => 5).each do |post| %>
		<li><%= link_to post.title, post %> <span class="date"><%= post.created_at.strftime("%m/%d/%Y") %></span></li>
		<% end %>
	</ul>
</div>