<div id="maincol">
<% @posts.each do |post|%>
<div class="article">
	<h1 class="article-title"><%= link_to post.title, post%></h1>
	<div class="article-meta">Published on <%= post.created_at.strftime('%a %d %b, %Y') %> by <%=post.author %> in <%= post.category.name %></div>

	<p><%= raw post.content %>
</div>
<% end %>
<br/><br/>
</div>

<div id="sidebar">
<h2 class="compact">Categories</h2>
<ul class="compact">
	<% Category.all.each do |c| %>
		<li><%= link_to c.name, c %></li>
	<% end %>
</ul>
</div>