<div class="content">

	<div class="inner-content group">
	
		<div class="main group">
		
			<% @posts.each do |post|%>
			<div class="post">
			
				<h3><%= link_to post.title, post %></h3>		
				<%= raw post.content %>
				<div class="meta"><%= post.created_at.strftime('%a %d %b, %Y') %> by <%= post.author.match(/(.+)@/)[1] %></div>
			
			</div><!-- end .post -->
			<% end %>	
														
		</div><!-- end .main -->
		
		<div class="sidebar group">
		
			<div class="widget">
				<h3>Categories</h3>
				<ul>
					<% Category.all.each do |c| %>
						<li><%= link_to c.name, c %></li>
					<% end %>
				</ul>
			</div><!-- end .widget -->
		
		</div><!-- end .sidebar -->
	
	</div><!-- end. inner-content -->

</div><!-- end .content -->