<div class="content">

	<div class="inner-content group">
	
		<div class="main group">
		
			<% form_for(@post) do |f| %>
			<%= f.error_messages %>
			<p>
				<%= f.label :title %><br /><br />
				<%= f.text_field :title %>
			</p>
			<p>
				<%= f.label :markdown %><br /><br />
				<%= f.text_area :markdown %>
			</p>
			<p>
				<%= f.label :category %><br /><br />
				<%= select("category", "id", Category.find(:all).map { |c| [c.name, c.id] }) %>
			</p>
			<p>
				<%= f.submit 'Create Post' %>
			</p>
			<% end %>
														
		</div><!-- end .main -->
	
	</div><!-- end. inner-content -->

</div><!-- end .content -->