<% form_for(@post) do |f| %>
<%= f.error_messages %>
<p>
	<%= f.label :title %><br />
	<%= f.text_field :title %>
</p>
<p>
	<%= f.label :markdown %><br />
	<%= f.text_area :markdown %>
</p>
<p>
	<%= f.label :category %><br />
	<%= select("category", "id", Category.find(:all).map { |c| [c.name, c.id] }) %>
</p>
<p>
	<%= f.submit 'Create Post' %>
</p>
<% end %>