<div class="content">

	<div class="inner-content group">
	
		<div class="main group">
		
			<div class="post">
			
				<h3><%= link_to @post.title, @post%></h3>		
				<%= raw @post.content %>
				<div class="meta"><%= @post.created_at.strftime('%a %d %b, %Y') %> by <%= @post.author %></div>
			
			</div><!-- end .post -->
			
			<div class="comment-area">
				<div id="disqus_thread"></div>
				<script type="text/javascript">
				  (function() {
				   var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
				   dsq.src = 'http://ooc.disqus.com/embed.js';
				   (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
				  })();
				</script>
			</div>
														
		</div><!-- end .main -->
		
		<div class="sidebar group">
		
			<div class="widget">
				<h3>Options</h3>
				<ul>
					<% if user_signed_in? %>
						<li><%= link_to 'Edit', edit_post_path(@post) %></li>
						<li><%= link_to 'Delete', @post, :confirm => "Are you sure?", :method => :delete %>
						<% else %>
						<li><%= link_to "Sign in", new_user_session_path %></li>
					<% end %>
				</ul>
			</div><!-- end .widget -->
		
		</div><!-- end .sidebar -->
	
	</div><!-- end. inner-content -->

</div><!-- end .content -->