<div id="maincol">
<div class="article">
	<h1 class="article-title"><%= link_to @post.title, @post%></h1>
	<div class="article-meta">Published on <%= @post.created_at.strftime('%a %d %b, %Y') %> by <%=@post.author %> in <%= @post.category.name %></div>

	<p><%= raw @post.content %>

</div>
<br/><br/>
</div>
<!-- / MAIN COLUMN -->
<!-- SIDEBAR -->
<div id="sidebar">
<% if user_signed_in? %>
<h2 class="compact">Options</h2>
<ul class="compact">
	<li><%= link_to 'Edit', edit_post_path(@post)%></li>
	<li><%= link_to 'Delete', @post, :confirm => 'Are you sure?', :method => :delete %></li>
</ul>
<% end %>
</div>