<div class="content">

	<div class="inner-content group">
	
		<div class="main group">
		
			<div class="post">
			
				<h3><%= link_to @category.name, @category %></h3>		
				<div class="meta">Created on <%= @category.created_at.strftime('%a %d %b, %Y') %></div>
			
			</div><!-- end .post -->
														
		</div><!-- end .main -->
		
		<div class="sidebar group">
		
			<div class="widget">
				<h3>Articles in <%= link_to @category.name, @category %></h3>
				<ul>
					<% @category.posts.each do |post| %>
						<li><%= link_to post.title, post %></li>
					<% end %>
				</ul>
			</div><!-- end .widget -->
			
			<div class="widget">
				<h3>Options</h3>
				<ul>
					<% if user_signed_in? %>
						<li><%= link_to 'Edit', edit_category_path(@category) %></li>
						<li><%= link_to 'Delete', @category, :confirm => "Are you sure?", :method => :delete %>
						<% else %>
						<li><%= link_to "Sign in", new_user_session_path %></li>
					<% end %>
				</ul>
			</div><!-- end .widget -->
		
		</div><!-- end .sidebar -->
	
	</div><!-- end. inner-content -->

</div><!-- end .content -->