<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
	<title>ooc</title>
	<link rel="stylesheet" type="text/css" media="screen, projection" href="/css/screen.css" />
	<link href="/css/facebox.css" media="screen" rel="stylesheet" type="text/css"/>
	<%= csrf_meta_tag %>
	<script type="text/javascript" charset="utf-8" src="http://code.jquery.com/jquery-1.4.2.min.js" ></script>
	<script type="text/javascript" charset="utf-8" src="/js/jquery-syntax/jquery.syntax.min.js" ></script>
  <script type="text/javascript" charset="utf-8" src="/js/facebox.js"></script>
	<link rel="shortcut icon" href="/img/favicon.ico" />
	<script type="text/javascript">

	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-8462936-3']);
	  _gaq.push(['_trackPageview']);

	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();
	  
	  jQuery(document).ready(function($) {
      $('a[rel*=facebox]').facebox() 
    })

	</script>
</head>

<body class="home">

<div class="container">

	<div class="header group">
		<h1><a href="/">ooc-lang <span>out of class</span></a></h1>
		<ul class="nav">
			<li><%= link_to 'Home', home_index_path, :class => "current" %></li>
			<li><%= link_to 'Blog', posts_path %></li>
			<li><%= link_to 'Resources', "http://github.com/ooc-lang/Resources/wiki" %></li>
			<% if user_signed_in? %>
			<li><%= link_to "Sign out #{current_user.email.match(/(.+)@/)[1]}", destroy_user_session_path %>
			<% else %>
			<li><%= link_to "Sign in", new_user_session_path %></li>
			<% end %>
		</ul>
	</div><!-- end .header -->
	
	
	<% flash.each do |name, msg| %>
	<div id="errorExplanation">
		<%= content_tag :div, msg, :id => "flash_#{name}" %>
	</div>
	<% end %>
	
	<a style="position:fixed;top:136px;width:30px;height:119px;z-index:8765;background-color:#175E83;right:0;" href="http://twitter.com/ooc_lang"><img src="/img/follow-us.png" alt="Follow us on Twitter" /></a>
	
	<%= yield %>
		
		<div class="bottom group">
			<div class="about">
				<h5>Philosophy</h5>
				<p>Healthy surprises. No repetition. Keeping it simple. Designed to scale. Power over raw performance. Flexibility over familiarity. Correctness over tradition.</p>
			</div><!-- end .about -->
			
			<div class="sitemap">
				<h5>Featured projects</h5>
				<span><a href="http://github.com/tsion/oos">oos</a>: <i>operating system written in ooc and assembly</i></span>
				<br/>
				<span><a href="http://github.com/nddrylliog/ooc-gtk">ooc-gtk</a>: <i>GTK2 bindings for ooc</i></span>
				<br/>
				<span><a href="http://github.com/nddrylliog/ooc-zeromq">ooc-ØMQ</a>: <i><a href="http://www.zeromq.org/">ØMQ</a> bindings for ooc</i></span>
			</div><!-- end .sitemap -->
		</div><!-- end .bottom -->
		
	</div><!-- end .content -->
	
	<div class="footer">
		<p>Copyright &copy; 2010 <a href="/">ooc-lang</a> : nddrylliog and the crew</p>
		<p>Design[ed] by <a href="http://github.com/pheuter">Mark Fayngersh</a></p>
	</div><!-- end .footer -->

</div><!-- end .container -->

<script type="text/javascript" charset="utf-8">
	$($.find("pre")).addClass("syntax ooc");
	$($.find("code")).addClass("syntax ooc");
	jQuery(function($) {
	    $.syntax({root: "/js/jquery-syntax/"});
	});
</script>

</body>
</html>